<!DOCTYPE html>
<html>
<head>
    <title>Name Search</title>
    <style>
        body {
            text-align: center;
        }
        input[type="text"] {
            width: 20%;
            margin-bottom: 10px;
        }
        button {
            width: 20%;
            background-color: #0073e6;
            color: #ffffff;
            border: none;
            padding: 10px;
            cursor: pointer;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <h1>Name Search</h1>
    <input type="text" id="search-input" placeholder="Enter a name">
    <button id="search-button">Search</button>
    <div id="results-container"></div>
</body>

    <script src="static/popup.js"></script>
</html>
